body{
	background-color: #fe6f5e;
	font-family: 'Play', sans-serif;
}
#container{
	width: 500px;
	height: 400px;
	margin: auto;
	font-size: 24px;
	font-weight: bold;
}
#deals{
	margin-left: 100px;
	margin-top: 40px;	
}
.results{
	width: 400px;
	height: 60px;
	margin: auto;
	border: 5px solid black;
	background-color: white;
	padding: 25px;
	line-height: 23px;
}